<!DOCTYPE html>
<html lang="en">
<head>
    <title>To Do List</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
           
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in todolist_list %}
                    <tr>
                        <td> <a href="{% url "todo_list_detail" item.pk %}">{{item.name}}</a></td>
                        <td>{{todolist_list|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>